# Python
venv/
__pycache__/
*.pyc
*.env
test.db
*.db

# Node/React
*/node_modules/
frontend/dist/
dist/
.eslintcache

# Backend Uploads (Crucial to prevent broken images/bloat on GitHub)
backend/uploads/

# AI Models & Large Files
*.pt
*.onnx
runs/
yolo11n_openvino_model/

# System
.DS_Store
Thumbs.db

/venv/
/frontend/node_modules/
/node_modules/
.next/
.env.local
.env.development.local
.env.example
