version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file: .env
    volumes:
      - ./media:/app/media
      - ./db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      NEXT_PUBLIC_API_URL: http://backend:8000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend
